flow.json
[
    {
        "id": "8b5bedaa.a1b75",
        "type": "tab",
        "label": "Soil Measurement",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6ab661df.e78bf",
        "type": "tab",
        "label": "Technoline",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e561ee71.f481c",
        "type": "mqtt-broker",
        "name": "lora-gateway",
        "broker": "rapi.lan",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "21448a7d.ad7546",
        "type": "mqtt-broker",
        "name": "rak4260-smt50-1",
        "broker": "mqtt.mydevices.com",
        "port": "1883",
        "clientid": "4aa0f0b0-8bcd-11eb-a2e4-b32ea624e442",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7b5d9aa7.ac9684",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "iot-data",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-west-2-1.aws.cloud2.influxdata.com",
        "rejectUnauthorized": true
    },
    {
        "id": "3e703ad8.22aad6",
        "type": "mqtt in",
        "z": "8b5bedaa.a1b75",
        "name": "bastwan-stm50-1",
        "topic": "application/5/device/2188258c3c526557/rx",
        "qos": "2",
        "datatype": "json",
        "broker": "e561ee71.f481c",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "785180a.3dffd8",
                "5cd15c71.861214",
                "9f51d946.0bc9b8"
            ]
        ]
    },
    {
        "id": "8e20b38c.d9398",
        "type": "debug",
        "z": "8b5bedaa.a1b75",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "4b87419c.6eefa",
        "type": "mqtt out",
        "z": "8b5bedaa.a1b75",
        "name": "mydevices-rak4260-smt50-1",
        "topic": "v1/9cbe2490-bb0c-11ea-a67f-15e30d90bbf4/things/4aa0f0b0-8bcd-11eb-a2e4-b32ea624e442/data/json",
        "qos": "",
        "retain": "",
        "broker": "21448a7d.ad7546",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "2b434bc2.604554",
        "type": "inject",
        "z": "8b5bedaa.a1b75",
        "d": true,
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[\t  {\t    \"channel\": 7,\t    \"value\": 10,\t    \"type\": \"rel_hum\",\t    \"unit\": \"p\"\t  },\t  {\t    \"channel\": \"ASDF\",\t    \"value\": 4.2,\t    \"type\": \"batt\",\t    \"unit\": \"v\"\t  },\t  {\t    \"channel\": 2,\t    \"value\": 18.2,\t    \"type\": \"temp\",\t    \"unit\": \"c\"\t  }\t]\t",
        "payloadType": "jsonata",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "4b87419c.6eefa"
            ]
        ]
    },
    {
        "id": "785180a.3dffd8",
        "type": "template",
        "z": "8b5bedaa.a1b75",
        "name": "Chayenne Json",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{\n    \"channel\": \"soil-humdiity-{{payload.devEUI}}\",\n    \"value\": \"{{payload.object.humiditySensor.3}}\",\n    \"type\": \"rel_hum\",\n    \"unit\": \"p\"\n},\n{\n    \"channel\": \"vbatt-{{payload.devEUI}}-vbatt\",\n    \"value\": \"{{payload.object.analogInput.1}}\",\n    \"type\": \"batt\",\n    \"unit\": \"v\"\n},\n{\n    \"channel\":\"temp-{{payload.devEUI}}-temp\",\n    \"value\": \"{{payload.object.temperatureSensor.5}}\",\n    \"type\": \"temp\",\n    \"unit\": \"c\"\n}\n]",
        "output": "json",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "4b87419c.6eefa"
            ]
        ]
    },
    {
        "id": "544229e8.f5f478",
        "type": "mqtt in",
        "z": "6ab661df.e78bf",
        "name": "Terrasse",
        "topic": "sensors/lacrosse/28",
        "qos": "0",
        "datatype": "json",
        "broker": "e561ee71.f481c",
        "x": 80,
        "y": 480,
        "wires": [
            [
                "83aeabf0.d69fa8"
            ]
        ]
    },
    {
        "id": "ccbbba90.51e628",
        "type": "delay",
        "z": "6ab661df.e78bf",
        "name": "RateLimit",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "60",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 480,
        "y": 520,
        "wires": [
            [
                "720a9589.3364cc"
            ]
        ]
    },
    {
        "id": "2069011b.39441e",
        "type": "debug",
        "z": "6ab661df.e78bf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "eb561433.043108",
        "type": "mqtt in",
        "z": "6ab661df.e78bf",
        "name": "Room-01",
        "topic": "sensors/lacrosse/20",
        "qos": "0",
        "datatype": "json",
        "broker": "e561ee71.f481c",
        "x": 80,
        "y": 560,
        "wires": [
            [
                "ade5216c.453d"
            ]
        ]
    },
    {
        "id": "8299f22c.88725",
        "type": "influxdb out",
        "z": "6ab661df.e78bf",
        "influxdb": "7b5d9aa7.ac9684",
        "name": "InfluxDB",
        "measurement": "lacrosse",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "ok+influx@3do.de",
        "bucket": "iot-data",
        "x": 860,
        "y": 480,
        "wires": []
    },
    {
        "id": "720a9589.3364cc",
        "type": "template",
        "z": "6ab661df.e78bf",
        "name": "Influx Convert",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{\n    \"humidity\": {{payload.hum}},\n    \"temperature\": {{payload.temp}}\n},\n{\n    \"sensor\": \"{{payload.id}}\"\n}]\n",
        "output": "json",
        "x": 660,
        "y": 520,
        "wires": [
            [
                "8299f22c.88725",
                "2069011b.39441e"
            ]
        ]
    },
    {
        "id": "ade5216c.453d",
        "type": "change",
        "z": "6ab661df.e78bf",
        "name": "ID=room01",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "room01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "ccbbba90.51e628"
            ]
        ]
    },
    {
        "id": "83aeabf0.d69fa8",
        "type": "change",
        "z": "6ab661df.e78bf",
        "name": "ID=terrace",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "terrace",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "ccbbba90.51e628"
            ]
        ]
    },
    {
        "id": "7e74aebb.30e9e",
        "type": "influxdb out",
        "z": "8b5bedaa.a1b75",
        "influxdb": "7b5d9aa7.ac9684",
        "name": "InfluxDB",
        "measurement": "soil-moisture",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "ok+influx@3do.de",
        "bucket": "iot-data",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "5cd15c71.861214",
        "type": "template",
        "z": "8b5bedaa.a1b75",
        "name": "Influx Convert",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{\n    \"humidity\": {{payload.object.humiditySensor.3}},\n    \"temperature\": {{payload.object.temperatureSensor.5}},\n    \"vbatt\":{{payload.object.analogInput.1}}\n},\n{\n    \"sensor\": \"{{payload.devEUI}}\"\n}]\n",
        "output": "json",
        "x": 340,
        "y": 100,
        "wires": [
            [
                "7e74aebb.30e9e",
                "8e20b38c.d9398"
            ]
        ]
    },
    {
        "id": "9f51d946.0bc9b8",
        "type": "debug",
        "z": "8b5bedaa.a1b75",
        "d": true,
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "4a5099cd.d56b78",
        "type": "inject",
        "z": "8b5bedaa.a1b75",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"applicationID\":\"5\",\"applicationName\":\"RAK4260\",\"deviceName\":\"SMT50-01\",\"devEUI\":\"2188258c3c526557\",\"rxInfo\":[{\"gatewayID\":\"b827ebfffe07829a\",\"uplinkID\":\"b8b91796-f926-4c0e-a7c4-b160281a56a8\",\"name\":\"Ollis-RAK-DeveloperGW\",\"time\":\"2021-05-05T21:05:50.315308Z\",\"rssi\":-91,\"loRaSNR\":6.8,\"location\":{\"latitude\":50.07202,\"longitude\":8.23534,\"altitude\":155}}],\"txInfo\":{\"frequency\":868300000,\"dr\":5},\"adr\":false,\"fCnt\":6047,\"fPort\":2,\"data\":\"AQIBoANoLQVnAEs=\",\"object\":{\"analogInput\":{\"1\":4.16},\"humiditySensor\":{\"3\":22.5},\"temperatureSensor\":{\"5\":7.5}}}",
        "payloadType": "json",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "5cd15c71.861214"
            ]
        ]
    }
]